// Grid

.grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 450px;

  &__box {
    flex-basis: 33.33%;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
  }
}